h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 64px;
  text-align: center;
  color: #fff;
}
.hover {
    overflow: hidden;
    position: relative;
    padding-bottom: 34%;
    padding-left: 0;
    margin-right: 6px;
  }
  
  .hover-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    transition: all 0.4s;
  }
  
  .hover img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
  }
  
  .hover-content {
    position: relative;
    z-index: 99;
  }

p.truncated-text {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

  /* DEMO 5 ============================== */
.hover-5::after {
    content: '';
    width: 100%;
    height: 10px;
    background: #ffc83a;
    position: absolute;
    bottom: -10px;
    left: 0;
    display: block;
    transition: all 0.3s;
    z-index: 999;
  }
  
  /* .hover-5 .hover-overlay {
    background: rgba(0, 0, 0, 0.8);
  } */
  
  .hover-5-title {
    position: absolute;
    bottom: 1rem;
    left: 0;
    transition: all 0.3s;
    padding: 1rem;
    z-index: 99;
  }
  
  .hover-5-title span {
    transition: all 0.4s;
    opacity: 0;
    color: #ffc83a;
  }
  
  .hover-5:hover .hover-overlay {
    background: rgba(0, 0, 0, 0.8);
  }
  
  .hover-5:hover .hover-5-title {
    bottom: 0;
  }
  
  .hover-5:hover .hover-5-title span {
    opacity: 1;
  }
  
  .hover-5:hover::after {
    bottom: 0;
  }

  .nav-link{
    color: #fff;
  }

  .rsa{
    font-weight: 600;
    font-size: 21px;
  }

  .rsa-sm{
    font-weight: 400;
    font-size: 17px;
  }

  .rsa-sm:hover{
    color: #ffc83a;
    border: none;
  }

  .rsa:hover{
    color: #ffc83a;
    border: none;
  }

  .pr-6{
    padding-right: 6rem!important;
  }

  .nav-link.active { 
    color: #fff !important;
    background-color: #000 !important;
    border-color: #000 #000 #000 !important;
  }

  .card-img-caption {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
  }
    
  .card-img-caption .card-img-top {
    z-index: 0;
  }
      
  .card-img-caption .card-text {
    text-align: center;
    width: 100%;
    margin: 33% 0;
    position: absolute;
    z-index: 1;
  }

  .col-home-blogs {
    position: relative;
  }

  .col-home-blogs a {
    text-decoration: none;
    color: inherit;
  }

  .col-home-blogs::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%; /* Adjust the gradient coverage */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
    z-index: 1;
  }

  .card-img-top {
    position: relative;
    display: block;
    width: 100%;
    height: 325px;
    object-fit: cover;
  }

  .blog-img-title {
    position: absolute;
    top: 65%;
    left: 54%;
    width: 95%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 18px;
    z-index: 2;
  }

  .blog-img-keywords{
    position: absolute;
    top: 85%;
    left: 54%;
    width: 95%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 13px;
    z-index: 2;
  }

  .galary-sec-row{
    width: 100% !important;
    height: 100% !important;
  }


  @media only screen and (max-width: 768px) {
    
    .nav-item-pii{
        padding-right: 1.5rem!important;
    }



  }