{% load static %}
{% block content %}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="service_tittle">Anang Tawiah</title>
    <link rel="stylesheet" href='{% static "css/app.css" %}'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> -->

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>


<body>

    <header>
        <div class="top-bar">
            <div class="top-bar-left">
                <a href="#" class="logo">
                    <span>Goldstreet</span><br> <span>Consulting</span>
                </a>
                <div class="tagline">
                    <span>Digital Excellence.</span><br> <span>Delivered.</span>

                </div>
            </div>


            <div class="top-bar-right">
                <div class="blog-menu">
                    <!-- <button id="menu-btn" class="menu-icon menu-btn" type="button" data-toggle="offCanvas"></button> -->
                    <button id="menu-btn" class="menu-btn">&#9776;</button>
                    <div id="side-menu" class="side-menu">

                        <div class="grid-x">
                            <div class="cell medium-6 left-menu">
                                <div class="search-bar">
                                    <a href="javascript:void(0)" class="close-btn" id="close-btn">&times;</a>
                                    <!-- Close Button -->
                                    <input type="text" placeholder="Search...">
                                    <div class="search-icon">
                                        <img src="./assets/img/search.png" alt="Search Icon"
                                            style="width: 20px; height: 20px;">
                                    </div>
                                </div>

                                <div class="container">
                                    <div class="main-options">
                                    </div>

                                    <hr>

                                    <div class="options-signup-container">
                                        <div class="secondary-options">
                                            <a
                                                href="https://www.demo.progressive-solution.com/Projects/Anangblog/dist/index.html">Home</a>
                                            <a
                                                href="https://www.demo.progressive-solution.com/Projects/Anangblog/dist/about.html">About</a>
                                            <a
                                                href="https://www.demo.progressive-solution.com/Projects/Anangblog/dist/services.html">Services</a>
                                            <a
                                                href="https://www.demo.progressive-solution.com/Projects/Anangblog/dist/blog.html">Blog</a>
                                            <a
                                                href="https://www.demo.progressive-solution.com/Projects/Anangblog/dist/contactus.html">Contact</a>
                                        </div>

                                        <!-- Signup Section -->
                                        <div class="signup-section">
                                            <p>Sign up for daily emails to get the latest Goldstreet Consulting news.
                                            </p>
                                            <div class="input-container">
                                                <input type="email" placeholder="Enter your email">
                                            </div>
                                        </div>
                                    </div>

                                    <hr>


                                    <div class="menu-footer">
                                        <div class="left">
                                            <p>Goldstreet Consulting / Digital Excellence.</p>
                                        </div>
                                        <div class="right">
                                            <a href="https://facebook.com" target="_blank"><i class="fa fa-facebook"
                                                    aria-hidden="true"></i> </a>
                                            <a href="https://google.com" target="_blank"><i class="fa fa-google"
                                                    aria-hidden="true"></i> </a>
                                            <a href="https://twitter.com" target="_blank"><i class="fa fa-times"
                                                    aria-hidden="true"></i> </a>
                                            <a href="https://linkedin.com" target="_blank"><i class="fa fa-linkedin"
                                                    aria-hidden="true"></i></a>
                                        </div>
                                    </div>


                                </div>
                                <!-- container end -->
                            </div>
                            <!-- cell end -->
                            <div class="cell medium-6 right-menu">
                                <div class="right-side-content">
                                    <div class=" grid-x category">
                                        <h2>National & World Affairs</h2>
                                        <div class=" cell medium-6 block">
                                            <div class="menu-img-container"></div>
                                            <p>Retracing Steps To Anti-Asian Racism</p>
                                        </div>
                                        <div class=" cell medium-6 block">
                                            <div class="menu-img-container"></div>
                                            <p>Rallying Religious And Health Leaders To Prevent Child Abuse</p>
                                        </div>
                                    </div>

                                    <div class=" grid-x category">
                                        <h2>Health & Medicine</h2>
                                        <div class=" cell medium-6 block">
                                            <div class="menu-img-container"></div>
                                            <p>Approval Of At-Home Tests Releases A Powerful Pandemic-Fighting Weapon
                                            </p>
                                        </div>
                                        <div class=" cell medium-6 block">
                                            <div class="menu-img-container"></div>
                                            <p>Cancer Vaccine Shows Durable Immune Effects</p>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                        <!-- row end -->
                    </div>
                    <!-- sidemenu end -->

                </div>
                <!-- blog menu end -->

                <button class="search-icon" type="button">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
                <!-- <div class="search-icon">
          <img src="./assets/img/search.png" alt="Search Icon" style="width: 20px; height: 20px;">
        </div> -->

            </div>


        </div>
    </header>
    <div class="grid-container fluid consulting-hero">
        <div class="grid-x">
            <div class="cell medium-6 consulting-hero__text">
                <h4 class="service_heading">Consulting service</h4>
                <div class="heading-underline"></div>
                <div class="description"></div>

            </div>
            <div class="cell medium-6"></div>
        </div>
        <div class="grid-x">
            <div class="cell">
                <h1><span class="consulting-txt-large service_name">consulting</span> <span
                        class="consulting-txt">services.</span></h1>
            </div>
            <div class="cell"></div>
        </div>
        <div class="grid-x consulting__hero-lineblock">
            <div class="cell medium-6">

            </div>
            <div class="cell medium-6 consulting__hero-linecol">
                <div class="consulting__hero-line"></div>
            </div>
        </div>
    </div>

    <div class="grid-container service-section">
        <div class="grid-x">
            <div class="cell small-12 text-center services-header heading-margin-t">
                <h3 class="service_heading">Consulting Services</h3>
            </div>
        </div>

        <!-- Grid for Services -->
        <div class="grid-x grid-margin-x services-grid">


        </div>
        <div class="service-sec__scroll"><span class="service-sec-scroll-up">Scroll Up</span></div>

    </div>
    <section class="case-studies-section grid-container">
        <div class="cell small-12">
            <h3 class="section-header">Featured Case Studies And Insights</h3>
        </div>
        <div id="Case_study"></div>

        <!-- Tags (Vertical on the left side) -->
        <div class="tags">
            <span class="tag">Consulting.</span>
            <span class="tag">Research.</span>
            <span class="tag">Digital.</span>
            <span class="tag">Data.</span>
        </div>

        <!-- Scroll Indicators (Vertical on the right side) -->
        <div class="scroll">
            <span class="scroll-up">Scroll Up</span>
            <span class="scroll-down">Scroll Down</span>
        </div>

    </section>
    <div class="grid-container insight-section">
        <div class="grid-x">
            <div class="cell small-12">
                <h3 class="section-header">Insights And Resources</h3>
            </div>
        </div>

        <div class="grid-x grid-padding-x insight-inner-sec">
        </div>
        <!-- Latest Technology Insights and Resources -->
        <div class="grid-x grid-margin-x latest-tec section-p service_insights" style="display: none;">

            <div class="cell small-12 medium-12">
                <h3 class="insight_service_name"></h3>
                <div id="insights_table"></div>

                <nav aria-label="Pagination">
                    <ul class="pagination">
                        <!-- <li class="pagination-previous disabled"><i class="fa-thin fa-less-than"></i></li>
                        <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
                        <li><a href="#" aria-label="Page 2">2</a></li>
                        <li><a href="#" aria-label="Page 3">3</a></li>
                        <li><a href="#" aria-label="Page 4">4</a></li>
                        <li class="pagination-next"><a href="#" aria-label="Next page"><i
                                    class="fa-thin fa-greater-than"></i></a></li> -->
                    </ul>
                </nav>
            </div>
        </div>

        <div class="insight-sec__scroll"><span class="insight-sec-scroll-down">Scroll down</span></div>
    </div>
    <div class="grid-container popular-sec">
        <div class="grid-x">
            <div class="cell small-12">
                <h3 class="section-header">MOST POPULARs </h3>
                <div class="heading-underline"></div>
            </div>
            <div class="cell">
                <div class="bar1 bar">
                    <div class="">
                        <p>Swiss Holiday 2021 - virtual edition </p>
                    </div>
                    <div class="price">
                        <h6>150.00</h6>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="bar2 bar">
                    <div class="">
                        <p>Swiss Holiday 2021 - virtual edition </p>
                    </div>
                    <div class="price">
                        <h6>150.00</h6>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="bar3 bar">
                    <div class="">
                        <p>Swiss Holiday 2021 - virtual edition </p>
                    </div>
                    <div class="price">
                        <h6>150.00</h6>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="bar4 bar">
                    <div class="">
                        <p>Swiss Holiday 2021 - virtual edition </p>
                    </div>
                    <div class="price">
                        <h6>150.00</h6>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="bar5 bar">
                    <div class="">
                        <p>Swiss Holiday 2021 - virtual edition </p>
                    </div>
                    <div class="price">
                        <h6>150.00</h6>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="bar6 bar">
                    <div class="">
                        <p>Swiss Holiday 2021 - virtual edition </p>
                    </div>
                    <div class="price">
                        <h6>150.00</h6>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="bar7 bar">
                    <div class="">
                        <p>Swiss Holiday 2021 - virtual edition </p>
                    </div>
                    <div class="price">
                        <h6>150.00</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-container section-p heading-line">
        <div class="grid-x grid-margin-x contact-section">
            <div class="cell medium-6 contact-info">
                <h2>How Can We Help?</h2>
                <p>Please select a topic below related to your inquiry. If you don’t find what you need, fill out our
                    contact form.</p>

                <div class="subscribe">
                    <h5>Subscribe for exclusive content.</h5>
                    <p>Discover the many ways in which our customers use sleeknote.</p>
                    <p>Goldstreet members get full access to every article published on Goldstreet, including our full
                        archive. You’ll also get free access to Goldstreet Monthly events, each event’s live video
                        stream
                        and our full video archive.</p>
                    <p>To activate your membership immediately, enter your payment details and subscription preferences
                        below.</p>
                </div>

                <div class="contact-details">
                    <h5>Contact Information</h5>
                    <p><strong><i class="fa fa-map-marker" aria-hidden="true"
                                style="color: white; margin-right: 5px;"></i></strong>Sleeknote ApS</p>
                    <p>Jens Baggesens Vej 90A, 8200 Aarhus</p>
                    <p><strong><i class="fa fa-phone" aria-hidden="true"
                                style="color: white; margin-right: 2px;"></i></strong> +45 71 99 77 07</p>
                    <p><strong><i class="fa fa-envelope" aria-hidden="true"
                                style="color: white; margin-right: 2px;"></i></strong> mail@sleeknote.com</p>
                </div>
            </div>

            <div class="cell medium-6 ">
                <div class="grid-x">
                    <div class="cell contact-form-h">
                        <h2>Contact us</h2>
                    </div>

                    <div class="cell contact-form">
                        <form>
                            <div class="grid-x grid-padding-x">
                                <div class="cell medium-6">
                                    <label>First Name
                                        <input type="text" placeholder="Enter your first name" required>
                                    </label>
                                </div>
                                <div class="cell medium-6">
                                    <label>Last Name
                                        <input type="text" placeholder="Enter your last name" required>
                                    </label>
                                </div>
                                <div class="cell medium-12">
                                    <label>Email
                                        <input type="email" placeholder="Enter your email" required>
                                    </label>
                                </div>
                                <div class="cell medium-12">
                                    <label>Phone
                                        <input type="tel" placeholder="Enter your phone number" required>
                                    </label>
                                </div>
                                <div class="cell medium-12">
                                    <label>Consultation
                                        <select>
                                            <option value="Consulting Services Inquiry">Consulting Services Inquiry
                                            </option>
                                            <option value="Product Information">Product Information</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </label>
                                </div>
                                <div class="cell medium-12">
                                    <label>Company Name
                                        <input type="text" placeholder="Enter your company name">
                                    </label>
                                </div>
                                <div class="cell medium-12">
                                    <label>Message
                                        <textarea placeholder="Enter your message"></textarea>
                                    </label>
                                </div>
                                <div class="cell medium-12">
                                    <label>Additional Details
                                        <textarea placeholder="Enter additional details"></textarea>
                                    </label>
                                </div>
                                <div class="cell medium-12">
                                    <label>Drop In Any Relevant Files
                                        <input type="file">
                                    </label>
                                </div>
                                <div class="cell medium-12">
                                    <input type="checkbox" required>
                                    <label>I agree to the <a href="#">Terms and Conditions</a></label>
                                </div>
                                <div class="cell medium-12">
                                    <button type="submit" class="button expanded">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-container fluid footer">
        <div class="grid-x  align-center">
            <div class="cell large-2  ft-menu-content">
                <div class="grid-x">
                    <div class="cell">
                        <div class="footer__logo">
                            <img src="" alt="logo" class="footer__img">
                        </div>
                    </div>
                    <div class="cell footer-mainmenu">
                        <div class="ft-menu">
                            <ul>
                                <li>
                                    <h4>DATA.</h4>
                                </li>
                                <li>
                                    <h4>DIGITAL.</h4>
                                </li>
                                <li>
                                    <h4>ANALYTICS.</h4>
                                </li>
                                <li>
                                    <h4>MANAGEMENT.</h4>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>



            </div>
            <div class="cell large-3 ft-content ">
                <div class="grid-x">
                    <div class="cell">
                        <h5 class="ft-heading">ABOUT</h5>
                        <hr>
                        <div class="company-info footer-margin-t">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit nunc ullamcorper condimentum
                                augue nisi ornare vitae viverra justo. At elit suspendisse diam commodo lacinia.</p>

                        </div>
                    </div>

                </div>
                <div class="grid-x">
                    <div class="cell footer-margin-t">
                        <h5>Sign up for daily emails to get the latest goldstreet consulting news.</h5>
                    </div>
                    <div class="cell">
                        <div class="email-input-container">
                            <input type="email" placeholder="Enter your email" class="email-input" />
                            <span class="arrow">→</span>
                        </div>

                    </div>
                </div>




            </div>
            <div class="cell large-2 ft-menu-content ft-submenu">

                <h5 class="ft-heading">SERVICES</h5>
                <hr>

                <div class="ft-menu footer-margin-t">
                    <ul>
                        <li>Data</li>
                        <li>Digital</li>
                        <li>Analytics</li>
                        <li>Management</li>
                        <li>Service#5</li>
                        <li>Service#6</li>
                    </ul>
                </div>

            </div>
            <div class="cell large-2  ft-menu-content">
                <div class="grid-x">
                    <div class="cell">
                        <h5 class="ft-heading">GET TO KNOW US</h5>
                        <hr>
                        <div class="ft-menu footer-margin-t">
                            <ul>
                                <li class="ft-menu__list">Case Studies</li>
                                <li>Perspectives</li>
                                <li>Who We Are</li>
                            </ul>
                        </div>
                    </div>

                    <div class="cell ft-menu-content">
                        <h5 class="ft-heading">OUR PARTNER</h5>
                        <hr>
                        <div class="ft-menu footer-margin-t">
                            <ul>
                                <li>Greenberg</li>
                                <li>Karma Agency</li>
                                <li>Killer Visual Strategies</li>

                            </ul>
                        </div>


                    </div>
                </div>



            </div>

            <div class="cell large-2 ft-menu-content">
                <h5 class="ft-heading">SITE MAP</h5>
                <hr>
                <div class="ft-menu footer-margin-t">
                    <ul>
                        <li>chicago</li>


                    </ul>
                </div>


            </div>




        </div>

    </div>
    <div class="grid-container fluid footer-line">
        <div class="grid-x">
        </div>
        <div class="grid-x">
            <div class="cell medium-4">
                <div class="footer-icon">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <i class="fa fa-google" aria-hidden="true"></i>
                    <i class="fa fa-times" aria-hidden="true"></i>
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </div>
            </div>
            <div class="cell medium-4 text-copyright" style=" color: #D8D8D8; font-size: 14px; letter-spacing: 2px; font-weight: 500; line-height: 24px
          ;">
                <P>Copyright 2024</P>

            </div>
            <div class="cell medium-4 text-email"
                style=" color: #D8D8D8; font-size: 14px; letter-spacing: 2px; font-weight: 500; line-height: 24px;">
                <P>Follow Us: xyz@gmail.com</P>
            </div>


        </div>
    </div>

    </div>

    <script src="{% static 'js/vendor/jquery.min.js' %}"></script>
    <script src="{% static 'js/vendor/what-input.js' %}"></script>
    <script src="{% static 'js/vendor/foundation.min.js' %}"></script>
    <script src="{% static 'js/vendor/dataTables.js' %}"></script>
    <script src="{% static 'js/vendor/dataTables.foundation.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/common_function.js' %}"></script>
    <!-- <script src="{% static 'js/services.js' %}"></script> -->
</body>

</html>

{% endblock %}