{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View Serices</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/foundation.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/foundation-icons/foundation-icons.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="{% static 'css/service_app.css' %}">

</head>

<style>
  .expanded {
    display: block;
    width: 150px;
    margin: 10px 4.5rem 20px auto;
    /* Aligns to the right */
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  #searchInput {
    color: white;
    background-color: #333;
    border: 1px solid #ccc;
  }

  #searchInput::placeholder {
    color: white;
  }

</style>

<body>
  <h2 class="text-center header_style">Insights & Resources Table</h2>

  <div class="grid-x grid-margin-x align-right">
    <div class="form-container">
      <input type="search" class="expanded" id="searchInput" placeholder="Search...">
    </div>
  </div>

  <div class="grid-container-fluid client_view">
    <table id="InsightsTable" class="display bordered-table" style="width:100%">
      <thead>
        <tr>
          <th>S.NO</th>
          <th>Service Name</th>
          <th>Service Heading</th>
          <th>Description</th>
          <th>Preview</th>
          <th>Buy</th>
          <th>Edit</th>
          <th>Delete</th>

        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

  <div class="off-canvas position-right invoice-export" id="edit_offCanvas" data-off-canvas>
    <div class="grid-container-fluid">
      <div class="grid-x grid-margin-x align-center">
        <div class="input_width">
          <h4>Update Insights & Resources</h4>
          <div class="form-container">
            <form action="" id="edit_insights_resource_form" style="margin-top: 3rem;">
              <input type="hidden" name="insight_id" id="insight_id">

              <label>Service Name
                <select name="Serice_Category" id="Serice_Category"></select>
              </label>

              <label>Service Heading
                <input type="text" name="service_heading" id="edit_service_heading">
              </label>

              <label>Description
                <textarea type="text" name="Description" id="edit_description"></textarea>
              </label>

              <label>Preview
                <textarea type="text" name="Preview" id="edit_Preview"></textarea>
              </label>

              <label>Buy
                <input type="text" name="buy" id="edit_buy"></textarea>
              </label>

              <div class="buttons">
                <button type="submit" class="button success">Add</button>
                <button type="reset" class="button secondary">Reset</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>

</body>

</html>


<script src="{% static 'js/vendor/jquery.min.js' %}"></script>
<script src="{% static 'js/vendor/what-input.js' %}"></script>
<script src="{% static 'js/vendor/foundation.min.js' %}"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js">
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/service_index.js' %}"></script>

{% endblock %}