body {
	position: relative;
	background: #eee;
	margin: 0px auto;
	max-width: 1180px;
}

h4.location {
	font-weight: 600;
}

.side-nav {
	position: fixed;
	background: white;
	padding-top: 7rem;
	left: 0%;
	top: 0%;
	width: 3.5rem;
	height: 100vh;
	z-index: 1;
}

.side-nav a {
	height: 3.5em;
	border-radius: 0px 5px 5px 0;
}

.side-nav .active {
	position: relative;
	background: rgb(75, 142, 197);
	background: linear-gradient(90deg, rgba(75, 142, 197, 1) 0%, rgba(124, 202, 109, 1) 100%);
	width: 3.5rem;
}

.side-nav .active span {
	position: absolute;
	color: white;
	font-size: 1.5rem;
	top: 15px;
}

.side_nav {
	width: 7rem;
}

.home_icon {
	justify-content: center;
	align-items: center;
}

.side_nav a {
	border-radius: 5px;
}

.side_nav div {
	position: relative;
	left: 0.5rem;
	margin-top: 1rem
}

.top-bar {
	background: none;
	padding-left: 1rem;
	padding-right: 1rem;
}

.top-bar .menu-text img {
	width: 7.8rem;
}

.top-bar-right .menu {
	justify-content: end;
	padding-right: 1rem;
}

.top-bar div ul {
	background: none !important;
}

.top-bar li.category {
	margin-left: 1rem;
}

.callout {
	border: none;
	border-radius: 5px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.callout span {
	color: #5FCF5E;
}

.callout .title {
	position: relative;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

.callout .title:after {
	content: "";
	position: absolute;
	background: rgb(75, 142, 197);
	background: linear-gradient(90deg, rgba(75, 142, 197, 1) 0%, rgba(124, 202, 109, 1) 100%);
	width: 1.5rem;
	height: 3px;
	left: 0px;
	bottom: -10px;
}

.callout .h3 {
	color: #5FCF5E;
	font-weight: bold;
}

.callout .cost:before {
	content: "$";
}

.diversion-percentage {
	background: rgb(75, 142, 197);
	background: linear-gradient(90deg, rgba(75, 142, 197, 1) 0%, rgba(124, 202, 109, 1) 100%);
}

.diversion-percentage p {
	color: white;
}

.diversion-percentage .h3 {
	color: white;
}

.diversion-percentage.callout .title:after {
	background: white !important;
}

.diversion-percentage.callout span {
	color: white;
}

#diversionPercentage:after {
	content: "%";
}

.callout span {
	font-size: 1.78rem;
}

.switch-paddle span {
	font-size: 13px;
}

.graph-categories {
	position: absolute;
	right: 1rem;
	top: 1rem;
}

.graph-categories select {
	font-size: 11px;
	height: 1.78rem;
}

.client_view {
	width: 90%;
	left: 4rem;
	position: relative;
}

.edit_icon {
	font-size: x-large;
	color: navy;
}

.delete_icon {
	font-size: x-large;
	color: red;
}

table th {
	font-size: 7.8px;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 5px;
}

table tr th:last-child {
	text-align: center;
}

table td {
	font-size: 10px;
	padding: 5px;
}

table tr td:last-child {
	text-align: center;
}

table tr .cost {
	color: #498DC4;
	font-weight: bold;
	text-align: right;
}

.bordered-table th,
.bordered-table td {
	border: 1px solid #ddd;
	text-align: center;
}


.table.dataTable th.dt-type-numeric,
table.dataTable th.dt-type-date,
table.dataTable td.dt-type-numeric,
table.dataTable td.dt-type-date {
	text-align: center !important
}

.sub-callouts .label {
	margin-top: 1rem;
	font-size: 9px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;
	padding-right: 1.5rem;
	margin-right: 10px;
	border-radius: 1px;
}

.sub-callouts #diversionPercentage.h3 {
	position: relative;
}

.sub-callouts #diversionPercentage.h3:before {
	content: "Diversion Percentage";
	position: absolute;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	bottom: -10px;
}

.sub-callouts small.cost-savings {
	position: relative;
	font-size: 7.8px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
}

.sub-callouts .label.cost {
	position: relative;
}

.sub-callouts .label.cost:after {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	border-right: solid 10px white;
	border-bottom: solid 10px transparent;
	border-top: solid 10px transparent;
	position: Absolute;
	right: 0px;
	bottom: -1px;
}

.callout::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
}

.callout::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(124, 202, 109, 1);
	box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.toggle_btn {
	display: flex;
	justify-content: space-between;
}

/* Large and up */
@media screen and (min-width: 64em) {

	.callout.graph {
		height: 21rem;
	}

	/*.callout.master-commodities { height: 32.5rem; overflow-y: scroll; }*/
	.callout.master-commodities {
		height: 34.5rem;
		overflow-y: scroll;
	}
}

/* Medium down */
@media screen and (max-width: 1300px) {
	body {
		margin-left: 4.1rem;
	}
}


/* Styling for bars */
.chart-single {
	margin-top: 3.5rem;
}

.bars {
	max-width: 257px;
	width: 100%;
	display: inline-block;
	padding: 0;
	margin: 0;
	background-image: linear-gradient(top, rgba(0, 0, 0, 0.1) 3%, transparent 2%);
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 3%, transparent 2%);
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 3%, transparent 2%);
	background-size: 100% 35.8px;
	background-position: left top;
	font-size: 12px;

	@media only screen and (min-width: 480px) {
		max-width: 100%;
	}

	@media only screen and (min-width: 768px) {
		max-width: 100%;
	}

	@media only screen and (min-width: 992px) and (max-width: 1200px) {
		max-width: 100%;
	}

	@media only screen and (min-width: 1200px) {
		max-width: 100%;
	}



	li {
		display: block;
		width: 8.2%;
		height: 9rem;
		margin: 0;
		text-align: center;
		position: relative;
		float: left;
		margin-bottom: 5%;


		&:last-of-type {
			margin: 0;
		}

		&:first-of-type {
			margin-left: 1%;
		}

		.bar {
			display: block;
			width: 50%;
			background-image: linear-gradient(90deg, rgba(75, 142, 197, 1) 0%, rgba(124, 202, 109, 1) 100%);
			background-image: -webkit-linear-gradient(90deg, rgba(75, 142, 197, 1) 0%, rgba(124, 202, 109, 1) 100%);
			background-image: -moz-linear-gradient(90deg, rgba(75, 142, 197, 1) 0%, rgba(124, 202, 109, 1) 100%);
			position: absolute;
			bottom: 0;
			border-radius: 3px 3px 0 0;
		}

		span {
			width: 100%;
			position: absolute;
			bottom: -4em;
			left: 0;
			text-align: left;
			font-weight: normal;
			font-size: 9px;
			color: #a8a5a5;
			padding: 6%;

			@media only screen and (min-width: 768px) and (max-width: 1200px) {
				font-size: 12px;
			}

			@media only screen and (min-width: 1200px) {
				font-size: 12px;
			}
		}


		.percentage {
			width: 100%;
			position: absolute;
			top: -26px;
			left: 0;
			text-align: center;
			font-weight: bold;
			font-size: 10px;
			color: black;
			text-align: left;



			sup {
				font-size: 66%;
			}


		}
	}
}

/*#chart_div rect[fill="#3366cc"] {
    /*background: linear-gradient(90deg, rgba(75,142,197,1) 0%, rgba(124,202,109,1) 100%) !important;
fill: #60a7a1 !important;
fill: url(#my-gradient) #3366cc;

}*/
/*#chart_div text[fill="#222222"] {
fill: #a8a5a5 !important;
}
#chart_div text[fill="#444444"] {
fill: #a8a5a5 !important;
}

#chart_div rect[fill="#333333"] {
fill: #a8a5a5 !important;
}*/
#chart_div text[fill="#222222"],
text[fill="#444444"],
rect[fill="#333333"] {
	fill: #a8a5a5 !important;
}

.diversion-percentage small {
	color: white;
	font-weight: bold;
}