{% extends 'layout/base.html' %}
{% load static %}

{% block content %}

<style>
    p{
        font-size: 16px;
    }
</style>

<div class="page-title-wrap">
    <h2 class="page-title">Complaints
        <span>Policy</span></h2>
</div><!-- .page-title-wrap -->

<div class="row">
    <div class="col">
        <p>COMPLAINTS POLICY</p>
        <p>This document provides guidelines for resolution and the treatment of complaints made by our customers. Each employee is responsible for reviewing the elements of the policy below. Also, the employee&rsquo;s signature is required to confirm the reading of the organization&rsquo;s policy.</p>
        <ol>
        <li>POLICY STATEMENT</li>
        </ol>
        <p>At AnangTawiah.com, LLC, we believe that if a customer wishes to file a complaint or express dissatisfaction, it should be easy for them to do so. It is AnangTawiah.com, LLC policy to receive complaints and consider them as an opportunity to learn, adapt, improve, and provide better service. In addition, a quick resolution of complaints, in a way that respects and values the person&rsquo;s feedback, can be one of the most important factors in recovering the person&rsquo;s confidence about a product/service offered by the company. It can also help prevent further escalation of the complaint. A responsive, efficient, effective, and fair complaint management system can assist an organization to achieve this. The purpose of this policy is to ensure that complaints are handled properly and that all customer complaints or comments are taken seriously.</p>
        <ol start="2">
        <li>PURPOSE</li>
        </ol>
        <p>This policy is intended to ensure that AnangTawiah.com, LLC handle complaints fairly, efficiently, and effectively. The company's objective is to ensure that its complaints procedure is properly and effectively implemented, and that complainants feel confident that their complaints and worries are listened to and acted upon promptly and equitably.</p>
        <p>Our complaint management system aims to:</p>
        <p>allow us to respond to questions raised by people who file complaints in a timely and cost-effective manner</p>
        <p>increase customer confidence in our administrative process, and</p>
        <p>provide information that we can use to improve the quality of our products [if applicable], services, personnel and complaint handling.</p>
        <p>This policy provides guidance to our staff and to individuals who wish to file a complaint about the key principles and concepts of our complaint management system.</p>
        <ol start="3">
        <li>SCOPE</li>
        </ol>
        <p>This policy applies to all staff receiving or managing complaints from customer made to or about us, regarding our products, services, staff and complaint handling.</p>
        <ol start="4">
        <li>WHAT IS A COMPLAINT?</li>
        </ol>
        <p>A complaint is any expression of dissatisfaction about the product/services offered by AnangTawiah.com, LLC or his staff or the action or lack of action taken regarding operations, facilities or services provided by BERKELEY DATA STRATEGISTS or by a person or body acting on behalf of BERKELEY DATA STRATEGISTS.</p>
        <p>A formal complaint means a complaint that has not been successfully resolved through the Complaint Management Process as outlined in this policy. The complainant has chosen to formalize the complaint by completing a Complaint form.</p>
        <p>An informal complaint means a complaint that has been received AnangTawiah.com, LLC, by telephone, email, regular mail or in person, which has not been submitted on a Complaint Form.</p>
        <p>All non-anonymous complaints filed necessitate a response.</p>
        <ol start="5">
        <li>COMPLAINT MANAGEMENT SYSTEM</li>
        </ol>
        <ol type="a">
            <li>Oral Complaints</li>
        </ol>
        <p>AnangTawiah.com, LLC employees who receive a verbal complaint should try to resolve the issue immediately if possible. If staff cannot resolve the problem immediately, they should offer to refer it to the Complaint Manager for resolution. The complaints manager will be the named person who deals with the complaint through the process. When staffs or managers receive an oral complaint, both should listen sincerely to the concerns raised by the complainant. Any contact with the complainant must be polite, courteous, and sympathetic. At all times, staffs and managers must remain calm and respectful.</p>
        <p>After discussing the problem, each manager or staff member handling the complaint should suggest an action plan to resolve the complaint. If this action plan is acceptable, the staff member should clarify the agreement with the complainant and agree on a way in which the results of the complaint will be communicated to the complainant (i.e., by another meeting or letter).</p>
        <p>If the proposed action plan is not acceptable to the complainant, the staff member or manager should ask the complainant to make his or her complaint in writing AnangTawiah.com, LLC and provide a copy of the procedure and complaint form to be completed.</p>
        <p>In both situations, details of the complaint should be recorded on a complaint form.</p>
        <ol type="a" start="2">
        <li>Written Complaints</li>
        </ol>
        <p>When a complaint is received in writing, it must be forwarded to the designated Complaint Manager, who must enter it in the Complaint Register and send an acknowledgment receipt within 7 working days in order to establish a relationship of confidence with the person who filed the complaint.</p>
        <p>If necessary, further clarification should be obtained from the complainant. If the complaint is not made by the customer but on his behalf, the customer's consent, preferably in writing, must be obtained in advance from the customer.</p>
        <p>After receiving the complaint letter, a copy of the complaint procedure must be given to the customer. Clearly explain to the complainant the complaint process, the time it can take and realistic expectations.</p>
        <p>Immediately on receipt of the complaint AnangTawiah.com, LLC should launch an investigation and within 7 days should be in a position to provide a full explanation to the complainant, either in writing or by arranging a meeting with the individuals concerned.</p>
        <p>Compliant Manager must record all relevant information about the complaint and keep it as simple and accurate as possible.</p>
        <p>If the complaint raises potentially serious concerns, legal advice should be obtained. If legal action is taken at this stage, any investigation by AnangTawiah.com, LLC under the complaint procedure should cease immediately.</p>
        <p>If the issues are too complex for the investigation to be completed within AnangTawiah.com, LLC days, the complainant should be informed of any delays.</p>
        <p>If a meeting is organized, the complainant may, if he or she wishes, be accompanied by a friend, relative or representative, such as a lawyer.</p>
        <p>At the meeting, a detailed explanation of the results of the investigation should be given and an apology should also be made if deemed appropriate. This type of meeting gives AnangTawiah.com, LLC the opportunity to show the complainant that the matter has been taken seriously and has been thoroughly investigated.</p>
        <p>Finally, the results of the survey and meeting should be documented and any weaknesses in AnangTawiah.com, LLC procedures should be identified and modified.</p>
        <ol start="6">
        <li>ROLE OF MANAGER</li>
        </ol>
        <p>The manager who receives a complaint will evaluate the information to determine whether it falls within the scope of this policy. If so, the manager will collect and review all available information and attempt to resolve the issue informally through discussions with the complainant. The manager may choose to use human resources or other resources as required if they require assistance or advice. Managers are required to involve their departmental human resources representative before taking any disciplinary action against employees. Managers must ensure that all staff involved in resolving the complaint are aware of their responsibility to maintain the confidentiality of the matter and to respect the privacy rights of all parties involved.</p>
        <p>Informal complaint files</p>
        <p>Details of informal complaints should be noted as soon as possible and may include information such as when, where and how the alleged issue giving rise to the complaint occurred, who was involved and the names of potential witnesses. These notes may be required if a formal complaint is filed. Complaints that are resolved amicably to the complainant's satisfaction will not be followed up. However, all records relating to the resolution of informal complaints must be kept within each department in accordance with current policies and by-laws. Any disciplinary action resulting from an informal complaint will be maintained in accordance with established human resources procedures and policies.</p>
        <p>Unresolved complaints</p>
        <p>If the problem cannot be resolved amicably or if the complainant requests a formal investigation into the alleged misconduct, he or she must submit a formal complaint form.</p>
        <ol start="7">
        <li>EMPLOYEE AGREEMENT ON COMPLAINTS POLICY</li>
        </ol>
        <p>I have read, understand, and agree to comply with the foregoing policies, rules, and conditions. I am aware that violations of this guideline may subject me to disciplinary action, including termination from employment or legal action. Furthermore, I understand that this policy can be amended at any time.</p>
        <p>NO REFUND POLICY</p>
        <p>Welcome to web.berkeleydatastrategists.com (hereinafter referred to as the &ldquo;Website,&rdquo; &ldquo;Site,&rdquo; &ldquo;We,&rdquo; &ldquo;Us,&rdquo; &ldquo;Our&rdquo;). Thank you for choosing AnangTawiah.com, LLC for all your [SPECIFY NEED] needs. We value your trust in our [SERVICES or PRODUCTS].</p>
        <ol>
        <li>NO REFUND</li>
        </ol>
        <p>Due to the nature of the services, all the services offered through the website are non-refundable under any circumstances. All sales are final, and no exceptions will be made.</p>
        <p>We will not be liable for any services purchased by mistake. In circumstances where an extra or a different service is purchased by mistake, we would not be accountable for misplacement or replacement of the service and are not responsible for its delivery to the User.</p>
        <p>By purchasing our services, you acknowledge and agree to this no refund policy.</p>
        <ol start="2">
        <li>CONTACT US:</li>
        </ol>
        <p>For any further clarification of our No Refund Policy, please write to us at info@anangtawiah.com.</p>
    </div>
</div>

{% endblock %}