{% extends 'layout/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <main class="pl-5 pr-5">
        {% csrf_token %}

        <script>
           const csrftkn = document.querySelector('[name=csrfmiddlewaretoken]').value;
        </script>

        <div class="page-title-wrap">
            <h2 class="page-title">Contact <span style="margin-left: 60px;">Us</span></h2>
        </div><!-- .page-title-wrap -->
        <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">contact us</li>
        </ol>
        </nav><!-- .breadcrumb -->

    {% include 'contact_form.html' %}

    </main>

</div>
{% endblock %}

{% block contact_form %}
{% endblock %}